# Discord Bot Token (from Discord Developer Portal)
DISCORD_TOKEN=bot_token
# --- Search APIs ---
# Tavily
TAVILY_API_TOKEN=tavily_token
# JINA
JINA_API_KEY=jina_key
# --- Notion ---
# Notion 内部インテグレーション ID
NOTION_API_TOKEN=notion_integration_token
# 企業情報を格納するDBのID
NOTION_DB_ID=notion_db_id
# 作成するページのテンプレート
NOTION_TEMPLATE_ID=notion_template_id
# タスクを格納するDBのID
NOTION_TASK_DB_ID=notion_task_db_id
# エピソードを格納するDBのID
NOTION_EPISODE_DB_ID=notion_episode_db_id